@charset "utf-8";


/* ----------------------------------

Name: style.css
Author: Alissio
Website: https://www.miloslider.com
Exclusively available here: https://themeforest.net/user/alissio

------------------------------------- */





/*====================================================


	Table of Contents
	
	

		01. Generel Styles

			+ Generate Google Fonts 
			+ Essentials

		02. Gallery Slider

			+ Fade Carousel
			+ Thumb Slider

		03. Swiper Slider

			+ Pagination
			+ Navigation



	
====================================================*/



/*======================

	01. Generel Styles 

========================*/


/* Generate Google Fonts 
-------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



/* Essentials
-------------------------*/

:root {
  --primary: #fe5c01;
  --white: #fff;
  --gold: gold;
  --mainFont: "Roboto", sans-serif;
  --black_10: rgba(0,0,0,.1);
  --black_30: rgba(0,0,0,.3);
  --black_40: rgba(0,0,0,.4);
  --black_50: rgba(0,0,0,.5);
  --white_20: rgba(255,255,255,.2);
}

body {
  margin: 0;
  font-family: var(--mainFont);
}



/*======================

	02. Gallery Slider

========================*/

.gallery {
  width: 100%;
  height: 100dvh;
}


/* Fade Carousel 
-------------------------*/
.gallery-slider {
  width: 100%;
  height: 100%;
  position: absolute;
}
.gallery-slider .swiper-slide {
  width: 100% !important;
  position: relative;
}
.gallery-slider .swiper-slide:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--black_30);
}
.gallery-slider .swiper-slide .swiper-caption__ctg {
  transform: translate3d(0, 45px, 0);
  opacity: 0;
  transition: all 0.4s ease-out;
}
.gallery-slider .swiper-slide-active .swiper-caption__ctg,
.gallery-slider .swiper-slide-duplicate-active .swiper-caption__ctg {
  opacity: 1;
  transform: none;
}
.gallery-slider .swiper-slide .swiper-caption__ttl {
  transform: translate3d(0, 55px, 0);
  opacity: 0;
  transition: all 0.7s ease-out;
}
.gallery-slider .swiper-slide-active .swiper-caption__ttl, 
.gallery-slider .swiper-slide-duplicate-active .swiper-caption__ttl {
  opacity: 1;
  transform: none;
}
.gallery-slider .swiper-slide .swiper-caption__txt {
  transform: translate3d(0, 75px, 0);
  opacity: 0;
  transition: all .9s ease-out;
}
.gallery-slider .swiper-slide-active .swiper-caption__txt,
.gallery-slider .swiper-slide-duplicate-active .swiper-caption__txt {
  opacity: 1;
  transform: none;
}
.gallery-slider .swiper-slide .swiper-caption__btn {
  transform: translate3d(0, 95px, 0);
  opacity: 0;
  transition: all 1s ease-out;
}
.gallery-slider .swiper-slide-active .swiper-caption__btn,
.gallery-slider .swiper-slide-duplicate-active .swiper-caption__btn {
  opacity: 1;
  transform: none;
}
.gallery-slider .swiper-slide img {
  display: block;
  width: auto;
  height: 100%;
  margin: 0 auto;
}


/* Thumb Slider 
-------------------------*/
.gallery-thumbs {
  padding: 60px 30px;
}
.gallery-thumbs .swiper-slide {
  height: 300px;
  text-align: center;
  overflow: hidden;
  opacity: .9;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}
.gallery-thumbs .swiper-slide-prev,
.gallery-thumbs .swiper-slide-next {
  opacity: .9;
}
.gallery-thumbs .swiper-slide-active {
  opacity: 1;
}
.gallery-thumbs .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.thumbs-container {
  height: 100%;
  display: flex;
  align-items: center;
}
.gallery-thumbs__content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.gallery-thumbs__content > * {
  z-index: 1;
}
.gallery-thumbs__content:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: var(--black_50);
}
.gallery-thumbs__content .gallery-thumbs__price {
  position: absolute;
  right: 0px;
  top: 0px;
  color: var(--white);
  background-color: var(--primary);
  padding: 10px;
  border-bottom-left-radius: 20px;
  font-size: 1.2rem;
}
.gallery-thumbs__content .gallery-thumbs__bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem;
  color: var(--white);
  text-align: left;
}
.gallery-thumbs__name {
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: 600;
}
.gallery-thumbs__rating {
  display: flex;
  gap: .5rem;
  margin: 0;
}
.rating ion-icon {
  font-size: 1rem;
  color: var(--gold);
}



/*======================

	03. Swiper Slider 

========================*/

.swiper-wrapper {
  margin-bottom: 40px;
}
.swiper-slide.swiper-slide-prev .gallery-thumbs__content:after,
.swiper-slide.swiper-slide-next .gallery-thumbs__content:after {
  background-color: var(--black_40);
}
.swiper-slide.swiper-slide-active .gallery-thumbs__content:after {
  background-color: var(--black_10);
}
.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}
.swiper-caption {
  color: var(--white);
  padding-right: 1rem;
  position: relative;
  z-index: 1;
  padding: 40px 0;
}
.swiper-caption__ctg {
  text-transform: uppercase;
  letter-spacing: 10px;
  display: block;
}
.swiper-caption__ttl {
  font-size: 5rem;
}
.swiper-caption__txt {
  margin-bottom: 1.5rem;
}
.swiper-caption__btn {
  background-color: var(--primary);
  border-radius: 10px;
  color: var(--white);
  text-decoration: none;
  padding: .6rem 1rem;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  font-size: 15px;
}
.swiper-caption,
.swiper-thumbs {
  height: 100%;
  display: flex;
  align-items: center;
}


/* Pagination
-------------------------*/

.thumb-slider__control .swiper-pagination {
  position: relative;
  width: 15rem;
  bottom: .3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  background: var(--white);
}
.thumb-slider__control .swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary);
}


/* Navigation
-------------------------*/

.thumb-slider__control {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.thumb-slider__control .slider-arrow {
  position: relative;
  background: none;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 8px;
  left: auto;
  right: 0;
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white_20);
}
.thumb-slider__control .slider-arrow ion-icon {
  font-size: 1.4rem;
  color: var(--white);
}
.thumb-slider__control .swiper-button-prev {
  right: 20px;
}
.gallery-thumbs .swiper-button-next, 
.gallery-thumbs .swiper-button-prev {
  background-image: none;
}

@media (max-width: 1199px) {
  .gallery-thumbs .swiper-slide {
    height: 250px;
  }
  .gallery-thumbs__rating span {
    font-size: 1rem;
  }
  .rating ion-icon {
    font-size: .8rem;
  }
  .gallery-thumbs__name {
    font-size: 1.3rem;
  }
  .swiper-caption__ttl {
    font-size: 4rem;
  }
}

@media (max-width: 992px) {
  .swiper-caption__ttl {
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
  .thumbs-container {
    align-items: flex-end;
  }
  .gallery-thumbs {
    padding: 40px 30px;
  }
  .thumb-slider__control {
    display: none;
  }
  .swiper-caption {
    align-items: flex-start;
  }
  .swiper-wrapper {
    margin-bottom: 0;
  }
  .gallery-thumbs__rating span {
    font-size: .8rem;
  }
  .rating ion-icon {
    font-size: .8rem;
  }
}
